.about__container {
    display: flex;
    justify-content: center; /* Changed from space-between to center */
    align-items: center;
    column-gap: 3rem; /* Optional: Reduced gap slightly to keep them closer */
    flex-wrap: wrap; /* Ensures responsiveness if the screen gets too small */
}

.about__img {
    width: auto;
    height: 400px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__box a {
    color: grey;
    text-decoration: underline;
}

.about__info {
    justify-content: center;
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
    margin-top: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 12);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: var(--smaller-font-size);
}

.about__description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
    max-width: 800px;
}

    .about__data {
        text-align: center;
        justify-content: center;
        
  
    }

/* BREAK POINTS */
@media screen and (max-width: 992px) {  
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;
        height: auto;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center;
        justify-content: center;
        max-width: 400px; /* Prevents text from stretching too far */
  
    }

    .about__info {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;  
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }
}

@media screen and (max-width: 350px) {
   .about__info {
    grid-template-columns: repeat(2, 1fr);
   }
}